/* INCEPUT NAVIGATIE */
.navbar{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.86);
    height: 90px;
    width: 100%;
    display: block;
    visibility: visible;
    box-shadow: 0px 1px 10px rgba(32, 32, 32, 0.9);
}
.navbar .toggler{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    cursor: pointer;
    width: 90px;
    height: 90px;
    opacity: 0;
}
.navbar .hamburger{
    position: absolute;
    top: 0;
    left: 0;
    width: 90px;
    height: 90px;
    padding: 1rem;
    z-index: 2;
    background: var(--primaryColor);
    display: flex;
    align-items: center;
    justify-content: center;
}
/* hamburger line */
.navbar .hamburger > div{
    position: relative;
    width: 50px;
    height: 3px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}
/* top and bottom lines */
.navbar .hamburger > div::before{
    content:'';
    position: absolute;
    z-index: 1;
    top: -20px;
    width: 100%;
    height: 3px;
    background: inherit;
}
.navbar .hamburger > div::after{
    content:'';
    position: absolute;
    z-index: 1;
    top: 20px;
    width: 100%;
    height: 3px;
    background: inherit;
}
.navbar .toggler:checked + .hamburger > div {
    transform: rotate(135deg);
}
.navbar .toggler:checked + .hamburger > div::before {
    transform: rotate(90deg);
    top: 0;
}
.navbar .toggler:checked + .hamburger > div::after {
    transform: rotate(90deg);
    top: 0;
}
.navbar .toggler:checked:hover + .hamburger > div {
    transform: rotate(225deg);
}
/* Show menu */
.navbar .toggler:checked ~ .menu{
    visibility: visible;
}
.navbar .toggler:checked ~ .menu > div{
    transform: scale(1);
    transition-duration: var(--menu-speed);
} 
.navbar .toggler:checked ~ .menu > div > div{
    opacity: 1;
    transition: opacity 0.4s ease;
} 
.navbar .menu{
    position: fixed;
    top: 0;
    left: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar .menu > div {
    background: var(--overlayColor);
    border-radius: 50%;
    width: 200vw;
    height: 200vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
}
.navbar .menu > div > div{
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
}
.navbar .menu > div > div > ul > li {
    list-style: none;
    color: #fff;
    font-size: 2rem;
    padding: 1rem;
    box-shadow: 5px 5px 30px 1px rgb(8, 8, 8);
    width: auto;
    height: auto;
    
}
.navbar .menu > div > div > ul > li > a{
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;
    display: block;
    letter-spacing: 0.5rem;
    line-height: 250%;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}
.navbar img{
    height: 85px;
    margin-top: 5px;
    z-index: 2;
    box-shadow: black;
    display: flex; 
    position: fixed;
    left: 70%;
}
@media only screen and (min-width: 765px){
    .navbar .toggler{
        display: none;
    } 
    .navbar .hamburger{
        display: none;
    }
    .navbar .menu{
        visibility: visible;
    }
    .navbar .menu > div{
        transform: scale(1);
    } 
    .navbar .menu > div > div{
        opacity: 1;
    }
    .navbar .menu{
        width: 80%;
        height: 90px;
    }
    .navbar .menu > div {
        background: transparent;
    }
    .navbar .menu > div > div{
        margin-left: -100px;
    }
    .navbar .menu > div > div > ul > li {
        color:black;
        font-size: 1.3rem;
        padding: 0.3rem;
        box-shadow: 0px 0px 10px 1px rgb(8, 8, 8, 0);
        display: inline-block;
        margin: 0px 2px 0px 2px;
    }
    .navbar .menu > div > div > ul > li:hover {
        box-shadow: 0px 0px 10px 1px rgb(8, 8, 8, 1);
        transition: box-shadow 0.7s ease;
        background-color: rgba(163, 123, 48, 0.2);
    }
    .navbar .menu .active {
        color: rgba(163, 123, 48, 1);
    }
    .navbar .menu > div > div > ul > li > a{
        letter-spacing: 0.07rem;
        line-height: 2rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        text-transform: uppercase;
    } 
    .navbar img{
        left: 80%;
    }
}
@media only screen and (min-width: 1200px){
    .navbar .menu > div > div{
        margin-left: -300px;
    }
}
@media only screen and (min-width: 1600px){
    .navbar .menu > div > div{
        margin-left: -600px;
    }
}